<%- layout('layouts/main') %>
    <div class="container vh-100">
        <h1>Perfil de usuario</h1>
        <div class="card col-auto mt-4 text-bg-light" style="width: 50rem;">
            <div class="card-header">
                <h3>Usuario:</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p class="card-text col">Id: </p>
                    <p class="card-text col">
                        <%= user._id%>
                    </p>
                </div>
                <div class="row">
                    <p class="card-text col">Email: </p>
                    <p class="card-text col">
                        <%= user.email %>
                    </p>
                </div>
                <div class="row">
                    <p class="card-text col">Password: </p>
                    <p class="card-text col">
                        <%= user.password %>
                    </p>
                </div>
                <div class="row">
                    <p class="card-text col">Nombre: </p>
                    <p class="card-text col">
                        <%= user.name %>
                    </p>
                </div>
                <div class="row">
                    <p class="card-text col">Apellido: </p>
                    <p class="card-text col">
                        <%= user.lastname %>
                    </p>
                </div>

            </div>
        </div>
    </div>